extend layout

block content
    div(class="container-fluid")
        table(class="table table-striped")
            thead
                tr
                    th name
                    th machine name
                    th description
                    th identifier
                    th created
                    th updated
                    th actions
            tbody
                each dc in dataCollectors
                    tr
                        td= dc.name
                        td= dc.machineName
                        td= dc.description
                        td= dc.identifier
                        td= dc.created
                        td= dc.updated
                        td
                            a(class="btn btn-default", href=baseURL + "/data-collectors/edit/" + dc.id) edit
