extend layout

block content
    div(class="container")
        table(class="table table-striped")
            thead
                tr
                    th name
                    th machine name
                    th description
                    th created
                    th updated
                    th actions
            tbody
                each d in devices
                    tr
                        td= d.name
                        td= d.machineName
                        td= d.description
                        td= d.created
                        td= d.updated
                        td
                            a(class="btn btn-default", href=baseURL + "/devices/edit/" + d.id) edit
