extend layout
block content
    script(src=baseURL + "/js/mqtt.min.js")
    script(src=baseURL + "/js/moment.min.js")
    script.
        var config = {
            broker: "#{mqtt.broker}",
            baseTopic: "#{mqtt.baseTopic}"
        };
    link(rel="stylesheet", href=baseURL + "/css/realtime.css")
    script(src=baseURL + "/js/underling.js")
    script(src=baseURL + "/js/utilities.js")
    div(class="container-fluid")
        div(class="underling-container")
    script(src=baseURL + "/js/realtime.js")
